// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-header {
  background-color: #daeeff;
}

.background-content {
  background-color: #957bbe;
}

.background-sidebar {
  background-color: #fae3c4;
}